
body, html {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

#controls {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

label {
  display: block;
  margin-top: 5px;
}

input {
  width: 200px;
  margin-bottom: 5px;
}
        